@import 'src/scss/vendor/abstracts';

.DocsMenu {
  position: relative;
  display: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include media(md) {
    position: fixed;
    top: 5em;
    left: 0;
    width: 20em;
    height: calc(100vh - 5em);
    background-color: fr-color-theme-shade(primary, -95);
    z-index: 1;
    overflow: auto;
    display: block;
  }

  // Applied to every DocsMenu-list class
  &-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  // Applied only for the DocsMenu-list of DocsMenu's direct child
  & > &-list {
    padding: spacing(base);
  }

  &-item & {
    &-link {
      display: block;
      transition: $transition;
      padding: spacing(small) spacing(base);
      transition: all 150ms ease-in-out;
      color: fr-color-theme(gray);
      border-radius: fr-border-radius(base);
      background-color: transparent;
      font-weight: font-weight(regular);

      &:hover {
        color: fr-color-theme(primary);
      }

      &.is-active {
        color: fr-color-theme(primary);
        background-color: fr-color-theme-shade(primary, -85);
        border-radius: 4px;
        // border-right: solid 4px fr-color-theme-shade(primary, 0);
      }
    }
  }

  &-item {
    &--hasChildren {
      > .DocsMenu-link {
        font-weight: font-weight(semibold);
        font-size: font-size(small);
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      &:not(:first-of-type) {
        padding-top: spacing(base);
      }
    }
  }
}
