@import "~scss/vendor/abstracts";

.GridExample {
	&#grid-sizes {
		.Grid:nth-child(2n+2) {
			> span {
				background-color: secondary-color(-80);
				color: $gray;
			}
		}
	}
	
	.Grids {
		&:not(:last-child) {
			margin-bottom: spacing(base);
		}
	}
	
  .Grid {
		> span {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			font-weight: font-weight(semibold);
			background-color: secondary-color(-30);
			color: color-yiq(secondary-color(-30));
			padding-top: spacing(base);
			padding-bottom: spacing(base);
			border-radius: border-radius(base);

			> code {
				background-color: secondary-color(-15);
				color: color-yiq(secondary-color(-15));
			}
		}

		&:first-of-type {
			border-top-left-radius: border-radius(base);
			border-bottom-left-radius: border-radius(base);
		}

		&:last-of-type {
			border-top-right-radius: border-radius(base);
			border-bottom-right-radius: border-radius(base);
		}
	}
}