@import '~scss/vendor/abstracts';

.fr-NavbarExample {
  &:not(:last-child) {
    margin-bottom: spacing(base);
  }
  
  &__logo {
    font-weight: font-weight(bold);
    font-size: font-size(large);
    padding: spacing(xx-small) spacing(large);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: border-radius(base);
  }
}