@import '@formare/spacing/scss/variables';

$fr-card-padding: fr-spacing('base');

$fr-card-bg-color: $white;
$fr-card-fg-color: fr-color-contrast($fr-card-bg-color);

$fr-card-border-style: solid;
$fr-card-border-width: 1px;
$fr-card-border-color: $light;
$fr-card-border-radius: fr-border-radius(base);

$fr-card-elevation-level: 6 !default;
$fr-card-elevation-opacity: 0.1 !default;
