.fr-heading {
    .title {
        background-image: linear-gradient(to right, $primary-color, $secondary-color);
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    .subtitle {
        color: gray(1000);
    }
}