@import "../../scss/formare.scss";

//
hr {
    background-color: gray(200);
    display: block;
    margin: spacing(x-large) 0;
    height: 2px;
    border: none;
}


//
.fr-global-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1500;

}

.header-separator {
    content: "";
    display: block;
    position: relative;
    padding-bottom: 4em;
}


.fr-main {
    padding: spacing(x-large);
}


.fr-sidebar {
    position: sticky;
    top: 1.5em;
    height: calc(100vh - 3em);
}

.fr-menu {
    padding-top: 4.5em;
    padding-left: spacing(base);
    padding-right: spacing(base);
    border-right: solid 1px gray(200);
    height: 100%;

    .fr-menu__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .fr-menu__item {
        padding: spacing(x-small) spacing(base);
        margin-left: spacing(base) / -1;
        margin-right: spacing(base) / -1;

        > a {
            transition: $transition;
            color: $gray;
            
            &:hover {
                padding-left: spacing(x-small);
                color: $dark;
            }
        }
        
        &--parent {
            font-weight: font-weight(bold);
            padding-top: spacing(large);
        }

        &:first-child {
            padding-top: spacing(x-small);
        }
    }
}

//
.fr-article {
    .fr-heading {
        padding-bottom: spacing(large);
        margin-bottom: 2.5em;
    }
}

//
.fr-panel {
    position: relative;
    border: solid 1px $light;
    padding: $spacing;
    padding-top: spacing(x-large);
    border-radius: $border-radius;

    .fr-panel__tag {
        position: absolute;
        top: 0;
        right: 0;
        background-color: gray(300);
        padding: 2.5px 7.5px;
        border-radius: border-radius(base);
        margin-top: 5px;
        margin-right: 5px;
        font-size: font-size(x-small);
    }
}