@import "../../scss/formare.scss";

//
hr {
    background-color: gray(200);
    display: block;
    margin: spacing(x-large) 0;
    height: 2px;
    border: none;
}


//
.fr-global-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1500;

}

.header-separator {
    content: "";
    display: block;
    position: relative;
    padding-bottom: 4em;
}


.fr-main {
    padding: spacing(x-large);
}


.fr-sidebar {
    position: sticky;
    top: 4em;
    height: calc(100vh - 3em);
}

.fr-menu {
    padding-top: $spacing;
    border-right: solid 1px gray(200);
    height: 100%;

    .fr-menu__list {
        list-style-type: none;
        padding: 0;
        margin-left: spacing(base) / -1;
    }

    .fr-menu__item {
        padding: spacing(x-small) spacing(base);

        > a {
            transition: $transition;
            color: $gray;
        }

        &:hover {
        	> a {
        		color: theme-color(primary, 600);
        	}
        }

        &--active {
        	background-color: $lightest;
        	border-top-left-radius: $border-radius;
        	border-bottom-left-radius: $border-radius;
        	border-right: solid 5px theme-color(primary);

        	> a {
        		color: theme-color(primary, 600);
        	}
        }
        
        &--parent {
            font-weight: font-weight(bold);
            padding-top: spacing(large);
        }

        &:first-child {
            padding-top: spacing(x-small);
        }
    }
}

//
.fr-article {
    .fr-heading {
        padding-bottom: spacing(large);
        margin-bottom: 2.5em;
    }
}

//
.fr-preview {
    position: relative;
    border: solid 1px $lighter;
    padding: $spacing;
    padding-top: 3em;
    margin-top: 3em;
    border-radius: $border-radius;
    border-top-left-radius: 0;

    .fr-preview__tag {
        position: absolute;
        top: 0;
        left: -1px;
        transform: translateY(-100%);
        background-color: theme-color(secondary);
        color: color-yiq(theme-color(secondary));
        padding: 2.5px 7.5px;
        font-size: font-size(x-small);
        border-radius: border-radius(base);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .fr-preview__display {
        padding: spacing(base);
    }
}