@import "~scss/abstracts";

.fr-grids-example {
    margin-bottom: spacing(base);
    
    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 $grid-gap-width;
        padding-top: spacing(small);
        padding-bottom: spacing(small);
        background-color: $light;
        color: color-yiq($light);
        border-radius: border-radius(base);
    }
}