@import "~scss/abstracts";

.fr-example-grids {
    position: relative;

    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 $grid-gap-width;
        padding-top: spacing(small);
        padding-bottom: spacing(small);
        background-color: gray(200);
        color: color-yiq(gray(200));
        border-radius: border-radius(base);
    }
}