@import "~scss/abstracts";

.fr-grid-example {
    position: relative;

    .grids {
        padding: spacing(large);
    }

    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        margin-left: spacing(base);
        margin-right: spacing(base);
        background-color: theme-color(primary);
        color: color-yiq(theme-color(primary));
        border-radius: border-radius(base);
    }
}