.form {
    position: relative;

    .form__label {
        font-weight: font-weight(semibold);
    }

    .form__field {
        position: relative;
		margin-bottom: spacing(base);
	}
	
	.form__item {
		position: relative;
	}
}