@import 'src/scss/vendor/abstracts';

.Docs {
  display: flex;
  flex-direction: row;
}

.DocsMenu {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
  background-color: theme-color-shade(primary, -95);

  &-list {
    padding: spacing(base);
    padding-top: spacing(large);
    margin: 0;
    list-style: none;
  }

  &-item & {
    &-link {
      display: block;
      padding: spacing(small) spacing(base);
      color: theme-color(gray);

      &.is-active {
        background-color: theme-color-shade(primary, -85);
        color: theme-color(primary);
        font-weight: font-weight(semibold);
        border-radius: border-radius(base);
      }
    }
  }
}

.DocsContent {
  flex-grow: 1;
  min-height: calc(100vh - 5em);

  > .Container {
    padding: spacing(xlarge);
  }

  &-heading {
    margin-bottom: 4em;

    > * {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  &-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: spacing(xlarge);
      font-weight: font-weight(medium);

      &:first-child {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
}
