@import "@formare/shape/scss/variables";
@import "@formare/color/scss/variables";
@import "@formare/spacing/scss/functions";
@import "./variables";

@mixin fr-create-input-classes() {
  .Input,
  .Textarea {
    @include fr-input-base-styles();
    @include fr-append-input-state-variants();
    @include fr-append-input-color-theme-variants();
    @include fr-append-input-size-variants();
    @include fr-append-input-shape-variants();
  }
}

@mixin fr-input-base-styles() {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  font-family: $fr-input-font-family;
  padding: $fr-input-spacing;
  transition: $fr-input-transition;
  font-size: $fr-input-font-size;
  background-color: $fr-input-bg-color;
  border-style: solid;
  border-width: 1px;
  border-color: $fr-input-border-color;
  border-radius: $fr-input-border-radius;
  outline: none;
  white-space: normal;
}

@mixin fr-append-input-state-variants($color-theme: "base") {
  @include fr-append-input-focused-state($color-theme);
  @include fr-append-input-hovered-state($color-theme);
  @include fr-append-input-disabled-state();
}

@mixin fr-append-input-focused-state($color-theme) {
  $focused-border-color: "" !default;
  $focused-box-shadow: "" !default;

  @if $color-theme == "base" {
    $focused-border-color: $fr-input-focused-border-color;
    $focused-box-shadow: $fr-input-focused-box-shadow;
  } @else {
    $focused-border-color: fr-theme-color($color-theme);
    $focused-box-shadow-color: fr-theme-color($color-theme);
    $focused-box-shadow-values: $fr-input-focused-box-shadow-values;
    $focused-box-shadow: $focused-box-shadow-values $focused-box-shadow-color;
  }

  @include fr-input-is-not-disabled() {
    &:focus,
    &.is-focused {
      border-color: $focused-border-color;
      box-shadow: $focused-box-shadow;
    }
  }
}

@mixin fr-append-input-hovered-state($color-theme) {
  @include fr-input-is-not-disabled() {
    &:hover,
    &.is-hovered {
      border-color: $fr-input-hovered-border-color;
    }
  }
}

@mixin fr-append-input-disabled-state() {
  &:disabled,
  &.is-disabled {
    background-color: $fr-input-disabled-background;
    cursor: not-allowed;
  }
}

/**
 * Append color theme variant classes.
 */
@mixin fr-append-input-color-theme-variants() {
  @each $color-theme, $color-theme-value in $fr-color-themes {
    &--#{$color-theme} {
      @include fr-append-input-state-variants($color-theme);

      border-color: $color-theme-value;
    }
  }
}

@mixin fr-append-input-size-variants() {
  @each $size-name, $size-value in $fr-font-sizes {
    &--#{$size-name} {
      font-size: fr-font-size($size-name);
      padding: fr-spacing($size-name);
    }
  }
}

@mixin fr-append-input-shape-variants() {
  &--rounded {
    border-radius: $fr-input-rounded-border-radius;
  }
}

/**
 * Helper mixin to style input only when it's enabled
 * Approach taken from MDC.
 */
@mixin fr-input-is-not-disabled() {
  &:not(:disabled):not(.is-disabled) {
    @content;
  }
}

/**
 * Generates InputGroup classes.
 */
@mixin fr-create-input-group-classes() {
  .InputGroup {
    @include fr-input-group-base-styles();
    @include fr-append-input-group-parts();
  }
}

@mixin fr-input-group-base-styles() {
  display: flex;
  flex-direction: row;

  > * {
    border-radius: 0;
  }

  > *:first-child {
    border-top-left-radius: fr-border-radius("base");
    border-bottom-left-radius: fr-border-radius("base");
  }

  > *:last-child {
    border-top-right-radius: fr-border-radius("base");
    border-bottom-right-radius: fr-border-radius("base");
  }
}

@mixin fr-append-input-group-parts() {
  @include fr-append-input-group-addon();
}

@mixin fr-append-input-group-addon() {
  &-addon {
    @include fr-input-group-addon-base-styles();
    @include fr-append-input-group-color-theme-variants();
  }
}

@mixin fr-input-group-addon-base-styles() {
  display: flex;
  align-items: center;
  padding: 0 fr-spacing("base");
  background-color: fr-color-theme("light");
}

@mixin fr-append-input-group-color-theme-variants() {
  @each $color-theme, $color-theme-value in $fr-color-themes {
    &--#{$color-theme} {
      background-color: $color-theme-value !important;
      color: fr-color-contrast($color-theme-value) !important;
    }
  }
}
