@import 'src/scss/abstracts';

.fr-block-example {
    .layout {
        .header,
        .content,
        .footer {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .header {
            background-color: primary-color(-20);
            color: color-yiq(primary-color(-20));
            height: 4em;
        }
    }
}