@import "./variables";

@mixin fr-create-typography-classes() {
  @include fr-create-font-size-classes();
  @include fr-create-font-weight-classes();
  @include fr-create-heading-classes();
}

@mixin fr-create-text-classes() {
  @include fr-create-text-transform-classes();
  @include fr-create-line-height-classes();
  @include fr-create-letter-spacing-classes();
}

@mixin fr-create-text-transform-classes() {
  @each $text-transform, $text-transform-value in $fr-text-transforms {
    .Text-#{$text-transform} {
      text-transform: $text-transform-value !important;
    }
  }
}

@mixin fr-create-letter-spacing-classes() {
  @each $letter-spacing, $letter-spacing-value in $fr-letter-spacings {
    .Tracking-#{$letter-spacing} {
      letter-spacing: $letter-spacing-value !important;
    }
  }
}

@mixin fr-create-line-height-classes() {
  @each $line-height, $line-height-value in $fr-line-heights {
    .Leading-#{$line-height} {
      line-height: $line-height-value !important;
    }
  }
}

/**
 * Create font size classes.
 *
 * Example:
 * - .FontSize or .FontSize-base -> Applies base font size
 * - .FontSize-2xsmall or .FontSize-3xlarge -> Applies different size font classes
 */
@mixin fr-create-font-size-classes() {
  .FontSize {
    @each $font-size, $font-size-value in $fr-font-sizes {
      &-#{$font-size} {
        font-size: $font-size-value !important;
      }
    }

    font-size: $fr-font-size !important;
  }
}

@mixin fr-create-heading-classes() {
  @each $heading, $heading-size in $fr-headings {
    $heading-index: index($fr-headings, ($heading $heading-size));

    h#{$heading-index},
    .Heading-#{$heading-index} {
      font-size: $heading-size !important;
    }
  }
}

@mixin fr-create-font-weight-classes() {
  .FontWeight {
    @each $font-weight, $font-weight-value in $fr-font-weights {
      &-#{$font-weight} {
        font-weight: $font-weight-value !important;
      }
    }
  }
}
