$fr-typeface-system-stack: -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$fr-typeface-georgia-stack: Georgia, "Times New Roman", serif !default;
$fr-typeface-sf-mono-stack: SFMono-Regular, Menlo, Monaco, Consolas,
  "Roboto Mono", "Liberation Mono", "Courier New", monospace !default;
