@import "@formare/spacing/scss/variables";

.Buttons {
  margin-bottom: -#{fr-spacing("base")};

  > .Button {
    margin-bottom: fr-spacing("base");
  }

  > .Button:not(:last-child) {
    margin-right: fr-spacing("base");
  }
}
