.menu {
    .menu__list {
        @include flexbox;
        @include flex-direction(column);
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .menu__item {
        color: $menu-item-color;

        .menu__link {
            @include transition($menu-item-transition);
            display: block;
            padding: $menu-item-padding;
            cursor: pointer;
        }

        &:hover {
            color: $menu-item-hover-color;
        }
    }
}