@import "formare/scss/utils";

$fr-flex-directions: ("row", "column");

$fr-alignment-axes: ("align", "justify");
$fr-alignment-types: (
  "items": (
    "start": flex-start,
    "center": center,
    "end": flex-end,
    "stretch": stretch,
    "baseline": baseline,
    "left": left,
    "right": right
  ),
  "content": (
    "start": flex-start,
    "center": center,
    "end": flex-end,
    "baseline": baseline,
    "between": space-between,
    "around": space-around,
    "evenly": space-evenly,
    "stretch": stretch
  )
);

// $fr-alignment-content-map: () !default;
// $fr-alignment-content-map: map-merge(
//   (
//     "start": flex-start,
//     "center": center,
//     "end": flex-end,
//     "baseline": baseline,
//     "between": space-between,
//     "around": space-around,
//     "evenly": space-evenly,
//     "stretch": stretch
//   ),
//   $fr-alignment-content-map
// );

// //
// $fr-alignment-item-map: () !default;
// $fr-alignment-item-map: map-merge(
//   (
//     "start": flex-start,
//     "center": center,
//     "end": flex-end,
//     "stretch": stretch,
//     "baseline": baseline,
//     "left": left,
//     "right": right
//   ),
//   $fr-alignment-item-map
// );
