@import "src/scss/vendor/abstracts";

.fr-Structure-showcase {
  padding-top: spacing(base);
  padding-bottom: spacing(base);
  
  .Structure {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: theme-color(secondary);

    .Header,
    .Content,
    .Footer,
    .Aside {
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.5px;
      font-size: 87.5%;
      text-transform: uppercase;
      font-weight: font-weight(semibold);
    }

    .Header,
    .Footer {
      background-color: secondary-color(-20);
      color: color-yiq(secondary-color(-20));
      height: 5em;
    }

    .Content {
      flex: 1;
      background-color: secondary-color(0);
      color: color-yiq(secondary-color(0));
      height: 15em;
    }

    .Aside {
      flex: 0 0 200px;
      background-color: secondary-color(-10);
      color: color-yiq(secondary-color(-10));
    }
  }
}

.fr-Structure-example {
  .Structure {
    .Header {
      .Navbar {
        &__container {
          padding-left: spacing(xlarge);
          padding-right: spacing(xlarge);
        }
      }

      #logo {
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: font-size(base);
        font-weight: font-weight(semibold);
      }
    }

    .Content {
      background-color: $lighter;
      padding: spacing(base);

      &-box {
        min-height: 20em;
        padding: spacing(base);
        background-color: $white;
        border-radius: border-radius(base);
      }
    }
  }
}
