@import "@formare/elevation/scss/mixins";
@import "@formare/spacing/scss/variables";
@import "@formare/color/scss/variables";
@import "./variables";

@mixin fr-create-button-classes() {
  .Button {
    @include fr-button-base-styles();
    @include fr-button-base-states();

    @include fr-button-color-theme-variants();
    @include fr-button-size-variants();
    @include fr-button-shape-variants();
  }
}

@mixin fr-button-base-styles() {
  position: relative;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;

  font-size: $fr-button-font-size;
  font-weight: $fr-button-font-weight;
  font-family: $fr-button-font-family;
  text-align: center;

  padding: $fr-button-spacing;
  min-width: $fr-button-min-width;

  color: $fr-button-fg-color;
  background-color: $fr-button-bg-color;

  border-style: $fr-button-border-style;
  border-width: $fr-button-border-width;
  border-color: $fr-button-border-color;
  border-radius: $fr-button-border-radius;

  transition: $fr-button-transition;
  white-space: nowrap;
  outline: none;
  -webkit-appearance: none;

  /* Apply pointer cursor on non-disabled buttons */
  @include fr-button-is-not-disabled() {
    cursor: pointer !important;
  }
}

/**
 * Generates various supportive classes of a standard button.
 */
@mixin fr-button-base-states() {
  @include fr-button-is-disabled() {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;

    /* Retains 'pointer-events: auto' stylerule to elements aside from link tag */
    &:not(a) {
      pointer-events: auto;
    }
  }

  @include fr-button-is-not-disabled() {
    @include fr-button-is-hovered() {
      border-color: fr-color-theme-shade($fr-button-color-theme, -15);
      background-color: fr-color-theme-shade($fr-button-color-theme, -15);

      /* Reset outline to remove collision with border styling */
      outline: none;
    }

    @include fr-button-is-focused() {
      $bg-color: fr-color-theme-shade("gray", -80);
      $border-color: fr-color-theme-shade("gray", -50);
      $box-shadow-color: fr-color-theme-shade("gray", -80);
      $box-shadow-values: $fr-button-box-shadow-values;

      border-color: fr-color-theme-shade($fr-button-color-theme, -30);
      background-color: fr-color-theme-shade($fr-button-color-theme, -30);
      box-shadow: $box-shadow-values $box-shadow-color;
      outline: none;
    }

    @include fr-button-is-active() {
      border-color: fr-color-theme-shade($fr-button-color-theme, -45);
      background-color: fr-color-theme-shade($fr-button-color-theme, -45);
      box-shadow: none;
      outline: none;
    }
  }
}

/**
 * Generate multiple variants of a button.
 * 
 * By default, when --{theme} is applied, runs the `fr-button-filled` mixin to generate filled 
 * button with preferred color theme.
 */
@mixin fr-button-color-theme-variants() {
  @each $color-theme, $color-value in $fr-color-themes {
    &--#{$color-theme} {
      @include fr-button-filled($color-theme);
      @include fr-button-types($color-theme);
    }
  }
}

/**
 */
@mixin fr-button-filled($color-theme) {
  $bg-color: fr-color-theme($color-theme);
  $fg-color: fr-color-contrast($bg-color);
  $border-color: fr-color-theme($color-theme);

  background-color: $bg-color;
  color: $fg-color;
  border-color: $border-color;

  @include fr-button-is-not-disabled() {
    $box-shadow-values: $fr-button-box-shadow-values;

    @include fr-button-is-hovered() {
      $bg-color-hovered: fr-color-theme-shade($color-theme, -15);
      $fg-color-hovered: fr-color-contrast($bg-color-hovered);
      $border-color-hovered: $bg-color-hovered;

      color: $fg-color-hovered;
      background-color: $bg-color-hovered;
      border-color: $border-color-hovered;
      box-shadow: none;
    }

    @include fr-button-is-focused() {
      $bg-color-focused: fr-color-theme-shade($color-theme, -30);
      $fg-color-focused: fr-color-contrast($bg-color-focused);
      $border-color-focused: $bg-color-focused;
      $box-shadow-color-focused: fr-color-theme-shade($color-theme, -70);
      $box-shadow-focused: $box-shadow-values $box-shadow-color-focused;

      color: $fg-color-focused;
      background-color: $bg-color-focused;
      border-color: $border-color-focused;
      box-shadow: $box-shadow-focused;
    }

    @include fr-button-is-active() {
      $bg-color-active: fr-color-theme-shade($color-theme, -45);
      $fg-color-active: fr-color-contrast($bg-color-active);
      $border-color-active: $bg-color-active;

      color: $fg-color-active;
      background-color: $bg-color-active;
      border-color: $border-color-active;
      box-shadow: none;
    }
  }
}

@mixin fr-button-types($color-theme) {
  $color: fr-color-theme($color-theme);

  &.Button--text {
    color: $color;
    background-color: rgba($color, 0);
    border: 0;
    box-shadow: none;

    @include fr-button-is-not-disabled() {
      @include fr-button-is-hovered() {
        background-color: rgba($color, 0.15);
        color: $color;
      }

      @include fr-button-is-focused() {
        background-color: rgba($color, 0.2);
        color: $color;
      }

      @include fr-button-is-active() {
        background-color: rgba($color, 0.25);
        color: $color;
      }
    }
  }

  &.Button--outlined {
    color: $color;
    border-color: $color;
    background-color: rgba($color, 0);

    @include fr-button-is-not-disabled() {
      @include fr-button-is-hovered() {
        color: $color;
        border-color: rgba($color, 1);
        background-color: rgba($color, 0.1);
      }

      @include fr-button-is-focused() {
        color: $color;
        background-color: rgba($color, 0.2);
        border-color: rgba($color, 1);
        outline: none;
      }

      @include fr-button-is-active() {
        color: $color;
        background-color: rgba($color, 0.3);
        border-color: rgba($color, 1);
      }
    }
  }

  // 🧪 Experimental
  &.Button--raised {
    border-bottom-color: fr-color-shade($color, 15);
    border-bottom-width: 4px;

    @include fr-button-is-not-disabled() {
      @include fr-button-is-hovered() {
        border-bottom-color: fr-color-shade($color, 10);
      }

      @include fr-button-is-focused() {
        margin-top: 0px;
        outline: none;
      }

      @include fr-button-is-active() {
        border-bottom-width: 1px;
        margin-top: 3px;
        outline: none;
      }
    }
  }

  &.Button--elevated {
    @include fr-button-elevated();
  }
}

@mixin fr-button-size-variants() {
  @each $size, $padding in $fr-button-sizes {
    &--#{$size} {
      font-size: fr-font-size($size);
      padding: $padding;
    }
  }
}

@mixin fr-button-shape-variants() {
  &--rounded {
    border-radius: fr-border-radius(rounded);
  }

  // Extend button to 100% width of its parent
  &--fullWidth {
    width: 100%;
  }
}

@mixin fr-button-elevated($elevation-opacity: 0.3) {
  @include fr-create-elevation(2, $elevation-opacity);

  &:not(:disabled):not(.is-disabled) {
    &:hover,
    &:focus,
    &.is-hovered,
    &.is-focused {
      @include fr-create-elevation(3, $elevation-opacity);
    }

    &:active,
    &.is-active {
      @include fr-create-elevation(2, $elevation-opacity);
    }
  }
}

/**
 * 🛠 Utility-based mixins
 */
@mixin fr-button-is-not-disabled() {
  &:not(:disabled),
  &:not(.is-disabled) {
    @content;
  }
}

@mixin fr-button-is-disabled() {
  &:disabled,
  &.is-disabled {
    @content;
  }
}

@mixin fr-button-is-hovered() {
  &:hover,
  &.is-hovered {
    @content;
  }
}

@mixin fr-button-is-focused() {
  &:focus,
  &.is-focused {
    @content;
  }
}

@mixin fr-button-is-active() {
  &:active,
  &.is-active {
    @content;
  }
}

// Shorthand version of the specific state functions.
@mixin fr-button-is-state($state: "disabled") {
  @include fr-button-is-#{$state} {
    @content;
  }
}
