@import "@formare/elevation/scss/mixins";
@import "@formare/spacing/scss/variables";
@import "@formare/color/scss/variables";
@import "./variables";

@mixin fr-create-button-classes() {
  .Button {
    @include fr-button-base-styles();
    @include fr-create-button-state-classes();

    @include fr-create-button-color-theme-classes();
    @include fr-create-button-size-classes();
    @include fr-create-button-shape-classes();
    @include fr-create-button-elevated-class();
  }
}

@mixin fr-button-base-styles() {
  position: relative;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;

  font-size: $fr-button-font-size;
  font-weight: $fr-button-font-weight;
  font-family: $fr-button-font-family;
  line-height: $fr-button-line-height;
  text-align: center;

  padding: $fr-button-spacing;
  min-width: $fr-button-min-width;

  color: $fr-button-fg-color;
  background-color: $fr-button-bg-color;

  border-style: $fr-button-border-style;
  border-width: $fr-button-border-width;
  border-color: $fr-button-border-color;
  border-radius: $fr-button-border-radius;

  transition: $fr-button-transition;
  white-space: nowrap;
  outline: none;
  -webkit-appearance: none;

  /* Apply pointer cursor on non-disabled buttons */
  @include fr-button-is-not-disabled() {
    cursor: pointer !important;
  }
}

@mixin fr-create-button-state-classes() {
  @include fr-button-is-disabled() {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;

    /* Retains 'pointer-events: auto' stylerule to elements aside from link tag */
    &:not(a) {
      pointer-events: auto;
    }
  }

  @include fr-button-is-not-disabled() {
    @include fr-button-is-hovered() {
      border-color: fr-color-theme-shade("gray", 0);

      /* Reset outline to remove collision with border styling */
      outline: none;
    }

    @include fr-button-is-focused() {
      $border-color: fr-color-theme-shade("gray", 0);
      $box-shadow-color: fr-color-theme-opacity("primary", 0.25);

      border-color: $border-color;
      box-shadow: $fr-button-box-shadow-values $box-shadow-color;
      outline: none;
    }

    @include fr-button-is-active() {
      // border-color: fr-color-theme-shade($fr-button-color-theme, -45);
      // background-color: fr-color-theme-shade($fr-button-color-theme, -45);
      box-shadow: none;
      outline: none;
    }
  }
}

/**
 * Generate different color theme variants of a button component.
 */
@mixin fr-create-button-color-theme-classes() {
  @each $color-theme, $color-theme-value in $fr-color-themes {
    &--#{$color-theme} {
      @include fr-add-button-filled-styles($color-theme);
      @include fr-create-button-text-class($color-theme);
      @include fr-create-button-outlined-class($color-theme);
    }
  }
}

@mixin fr-add-button-filled-styles($color-theme) {
  @include fr-button-is-not-disabled() {
    $box-shadow-values: $fr-button-box-shadow-values;

    @include fr-button-is-hovered() {
      $bg-color-hovered: fr-color-theme-shade($color-theme, -15);
      $fg-color-hovered: fr-color-contrast($bg-color-hovered);
      $border-color-hovered: $bg-color-hovered;

      color: $fg-color-hovered;
      background-color: $bg-color-hovered;
      border-color: $border-color-hovered;
      box-shadow: none;
    }

    @include fr-button-is-focused() {
      $bg-color-focused: fr-color-theme-shade($color-theme, -30);
      $fg-color-focused: fr-color-contrast($bg-color-focused);
      $border-color-focused: $bg-color-focused;
      $box-shadow-color-focused: fr-color-theme-shade($color-theme, -70);
      $box-shadow-focused: $box-shadow-values $box-shadow-color-focused;

      color: $fg-color-focused;
      background-color: $bg-color-focused;
      border-color: $border-color-focused;
      box-shadow: $box-shadow-focused;
    }

    @include fr-button-is-active() {
      $bg-color-active: fr-color-theme-shade($color-theme, -45);
      $fg-color-active: fr-color-contrast($bg-color-active);
      $border-color-active: $bg-color-active;

      color: $fg-color-active;
      background-color: $bg-color-active;
      border-color: $border-color-active;
      box-shadow: none;
    }
  }

  background-color: fr-color-theme($color-theme);
  color: fr-color-theme-contrast($color-theme);
  border-color: fr-color-theme($color-theme);
}

/**
 * Generates outlined button classes reduce its emphasis compared to a standard button.
 * This will remove the background color (fill) of a button component.
 */
@mixin fr-create-button-outlined-class($color-theme) {
  &.Button--outlined {
    @include fr-button-is-not-disabled() {
      color: fr-color-theme($color-theme);
      border-color: fr-color-theme($color-theme);
      background-color: fr-color-theme-opacity($color-theme, 0);

      @include fr-button-is-hovered() {
        color: fr-color-theme($color-theme);
        border-color: fr-color-theme-opacity($color-theme, 1);
        background-color: fr-color-theme-opacity($color-theme, 0.1);
      }

      @include fr-button-is-focused() {
        color: fr-color-theme($color-theme);
        background-color: fr-color-theme-opacity($color-theme, 0.2);
        border-color: fr-color-theme-opacity($color-theme, 1);
        outline: none;
      }

      @include fr-button-is-active() {
        color: fr-color-theme($color-theme);
        background-color: fr-color-theme-opacity($color-theme, 0.3);
        border-color: fr-color-theme-opacity($color-theme, 1);
      }
    }
  }
}

/**
 * Generates text button classes further reduce its emphasis to the lowest.
 * This will remove the border and background color of a button. leaving only an interactible text.
 */
@mixin fr-create-button-text-class($color-theme) {
  &.Button--text {
    @include fr-button-is-not-disabled() {
      color: fr-color-theme($color-theme);
      border-color: fr-color-theme-opacity($color-theme, 0);
      box-shadow: none;
      background-color: transparent;

      @include fr-button-is-hovered() {
        background-color: fr-color-theme-opacity($color-theme, 0.15);
      }

      @include fr-button-is-focused() {
        background-color: fr-color-theme-opacity($color-theme, 0.25);
      }

      @include fr-button-is-active() {
        background-color: fr-color-theme-opacity($color-theme, 0.35);
      }
    }
  }
}

/**
 * Append elevated variant class to a standard button component.
 *
 * {$elevation-opacity} | 0 to 1
 */
@mixin fr-create-button-elevated-class($elevation-opacity: 0.3) {
  &--elevated {
    @include fr-create-elevation(2, $elevation-opacity);

    @include fr-button-is-not-disabled() {
      @include fr-button-is-hovered() {
        @include fr-create-elevation(3, $elevation-opacity);
      }

      @include fr-button-is-focused() {
        @include fr-create-elevation(3, $elevation-opacity);
      }

      @include fr-button-is-active() {
        @include fr-create-elevation(2, $elevation-opacity);
      }
    }
  }
}

/** 
 * Appends a modifier class to generate a raised button components.
 *
 * NOTE: This is still an experimental API. 
 */
@mixin fr-create-button-raised-class($color-theme) {
  &.Button--raised {
    @include fr-button-is-not-disabled() {
      border-bottom-color: fr-color-shade($color-theme, 15);
      border-bottom-width: 4px;

      @include fr-button-is-hovered() {
        border-bottom-color: fr-color-shade($color-theme, 10);
      }

      @include fr-button-is-focused() {
        margin-top: 0px;
        outline: none;
      }

      @include fr-button-is-active() {
        border-bottom-width: 1px;
        margin-top: 3px;
        outline: none;
      }
    }
  }
}

/**
 *
 */
@mixin fr-create-button-size-classes() {
  @each $size, $padding in $fr-button-sizes {
    &--#{$size} {
      font-size: fr-font-size($size);
      padding: $padding;
    }
  }
}

/**
 *
 */
@mixin fr-create-button-shape-classes() {
  &--rounded {
    border-radius: fr-border-radius(rounded);
  }

  // Extend button to 100% width of its parent
  &--fullWidth {
    width: 100%;
  }
}

/**
 * Create button group wrapper class.
 *
 * The ButtonGroup class can be used to encase multiple button components together to form
 * a single, unified control-like component.
 */
@mixin fr-create-button-group-classes() {
  .ButtonGroup {
    @include fr-button-group-base-styles();
  }
}

@mixin fr-button-group-base-styles() {
  display: flex;
  flex-direction: row;

  > .Button:not(:last-child) {
    margin-right: -1px;
  }

  > .Button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .Button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .Button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}

/**
 * These are helper mixins used in fr-button to reduce abstractions and adhere 
 * to reusability.
 */
@mixin fr-button-is-not-disabled() {
  &:not(:disabled),
  &:not(.is-disabled) {
    @content;
  }
}

@mixin fr-button-is-disabled() {
  &:disabled,
  &.is-disabled {
    @content;
  }
}

@mixin fr-button-is-hovered() {
  &:hover,
  &.is-hovered {
    @content;
  }
}

@mixin fr-button-is-focused() {
  &:focus,
  &.is-focused {
    @content;
  }
}

@mixin fr-button-is-active() {
  &:active,
  &.is-active {
    @content;
  }
}

// TO-DO: Deprecate this helper mixin since it's not used anymore.
// Shorthand version of the specific state functions.
@mixin fr-button-is-state($state: "disabled") {
  @include fr-button-is-#{$state} {
    @content;
  }
}
