//
// - Components
//

// LinkCard
$link-card-transition: all 150ms ease-out;
$link-card-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
$link-card-hovered-box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.1);
$link-card-hovered-transform: translateY(-3px);
