@import "./variables";

@mixin fr-create-block($display: $fr-block-display-type) {
  .Block {
    @include fr-block($display);
  }
}

@mixin fr-block($display) {
  @include fr-block-base-styles($display);
  @include fr-block-modifiers();
}

@mixin fr-block-base-styles($display) {
  @if $display = "flex" {
    display: flex;
    flex-direction: row;
  }

  position: relative;
  align-items: center;
}

@mixin fr-block-modifiers() {
  &--expanded {
    flex-grow: 1;
  }
}
