@include keyframes(pulseOut) {
}

@include keyframes(bottomOut) {
    0% {
        border-width: 1px 1px 3px 1px;
        transform: translateY(0);
    }

    50% {
        border-width: 1px;
        transform: translateY(1px);
    }

    100% {
        border-width: 1px 1px 3px 1px;
        transform: translateY(0);
    }
}