&-Flex { 
  display: flex;
}

&-InlineFlex {
  display: inline-flex;
}

&-Flex,
&-InlineFlex {
  &-row {
    display: flex;
    flex-direction: row;
  }
  
  &-column {
    display: inline-flex;
    flex-direction: column;
  }
}

@each $type, $abbr in (
  flex-start: start,
  center: center,
  flex-end: end,
  space-between: between,
  space-around: around,
  space-evenly: evenly
) {
	&-jc-#{$abbr},
  &-JustifyContent-#{$abbr} {
    justify-content: $type;
  }

  @each $breakpoint in $breakpoints {
    &-jc-#{breakpoint}-#{$abbr},
    &-JustifyContent-#{$breakpoint}-#{$abbr} {
      justify-content: $type;
    }
  }
}

@each $type, $abbr in (
  flex-start: start,
  center: center,
  flex-end: end,
  stretch: stretch,
  baseline: baseline
) {
  &-ai-#{$abbr},
  &-AlignItems-#{$abbr} {
    align-items: $type;
  }

  @each $breakpoint in $breakpoints {
    &-ai-#{breakpoint}-#{$abbr},
    &-AlignItems-#{$breakpoint}-#{$abbr} {
      justify-content: $type;
    }
  }
}