&-Flex { 
  display: flex !important;
}

&-InlineFlex {
  display: inline-flex !important;
}

&-Flex,
&-InlineFlex {
  &-row {
    display: flex !important;
    flex-direction: row !important;
  }
  
  &-column {
    display: inline-flex !important;
    flex-direction: column !important;
  }
  
  &-grow-1 {
    flex-grow: 1 !important;
  }

  &-grow-0 {
    flex-grow: 0 !important;
  }

  &-shrink-1 {
    flex-shrink: 1 !important;
  }

  &-shrink-0 {
    flex-shrink: 0 !important;
  }
 }

@each $type, $abbr in (
  flex-start: start,
  center: center,
  flex-end: end,
  space-between: between,
  space-around: around,
  space-evenly: evenly
) {
	&-jc-#{$abbr},
  &-JustifyContent-#{$abbr} {
    justify-content: $type !important;
  }
}

@each $type, $abbr in (
  flex-start: start,
  center: center,
  flex-end: end,
  stretch: stretch,
  baseline: baseline
) {
  &-ai-#{$abbr},
  &-AlignItems-#{$abbr} {
    align-items: $type !important;
  }
}