@each $size, $spacing in $spacings {
	.margin 			{ margin: $spacing-base; } 
	.margin-#{$size}	{ margin: $spacing; }
	.padding 			{ padding: $spacing-base; }
	.padding-#{$size}	{ padding: $spacing; }	


	$spacing-directions: top left bottom right;
	@each $direction in $spacing-directions {

		/*	
		**	Generates basic spacing classes (padding and margin) with standard spacing size 
		*/
		.padding-#{$direction} { padding-#{$direction}: $spacing-base; }	
		.margin-#{$direction} 	{ margin-#{$direction}: $spacing-base; }
		
		/*
		**	Generates standard spacing classes with base spacing size.
		*/
		.padding-#{$direction}-#{$size} { padding-#{$direction}: $spacing; }
		.margin-#{$direction}-#{$size} 	{ margin-#{$direction}: $spacing; }
	}
}