
@each $size, $value in $font-sizes {
	&-fs-#{$size}, 
	&-FontSize-#{$size} {
		font-size: $value !important; 
	} 
}

@each $weight, $value in $font-weights {
	&-fw-#{$weight}, 
	&-FontWeight-#{$weight} {
		font-weight: $value !important;
	}
}

@each $align in (left right center justify justify-all start end match-parent ) {
	&-ta-#{$align}, 
	&-Align-#{$align} {
		text-align: $align !important;
	}
}
