@import 'src/scss/abstracts';

.fr-structure-showcase {
    margin-bottom: spacing(x-large);
    
    .structure {
        background-color: secondary-color(0);
        
        .header,
        .content,
        .footer,
        .aside {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .header,
        .footer {
            background-color: secondary-color(-20);
            color: color-yiq(secondary-color(-20));
            height: 4em;
        }

        .content {
            flex: 1;
            background-color: secondary-color(0);
            color: color-yiq(secondary-color(0));
            height: 12em;
        }

        .aside {
            flex: 0 0 200px;
            background-color: secondary-color(-10);
            color: color-yiq(secondary-color(-10));
        }
    }
}

.fr-structure-example {
    .structure {
        .header {
            .navbar {
                
                &__container {
                    padding-left: spacing(x-large);
                    padding-right: spacing(x-large);
                }
            }

            #logo {
                height: 30px;
                padding: 0 spacing(base);
                background-color: primary-color(-20);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: font-size(base);
                font-weight: font-weight(bold);
                border-radius: border-radius(base);
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
        
        .content {
            background-color: $lighter;
            padding: spacing(x-large);

            &__box {
                min-height: 20em;
                padding: spacing(base);
                background-color: $white;
                border-radius: border-radius(base);
            }
        }
    }
}