.DummyBlock {
  position: relative;
  background-color: rgba(theme-color(primary), 0.7);
  color: color-yiq(rgba(theme-color(primary), 0.7));
  padding: spacing(small);
  border-radius: border-radius(base);
}
