&-LinkCards {
  @extend .Grids;
  display: flex;
  flex-direction: row;
  position: relative;
}

&-LinkCard {
  @extend .Grid;
  @extend .Grid-4;
  display: flex;
  flex-direction: column;
  padding-bottom: spacing(xlarge);
  color: inherit;
  
  &-content {
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: all 100ms ease-in;
    box-shadow: 0 10px 40px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05);
    border: solid 1px gray(100);
    border-radius: border-radius(base);
    border-left: solid 6px theme-color(primary);
    padding: spacing(large);
    padding-bottom: spacing(xlarge);
  }

  &:hover {
    .fr-LinkCard-content {
      transform: translateY(-5px);
      box-shadow: 0 20px 100px rgba(0,0,0,0.1), 0 15px 20px rgba(0,0,0,0.1);
      color: theme-color(primary);
    }
  }
}