.fr-menu {
    padding-top: 1em;
    padding-left: spacing(base);
    padding-right: spacing(base);
    border-left: solid 1px gray(100);
    height: 100%;

    .fr-menu__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .fr-menu__item {
        > a {
            display: block;
            padding: spacing(small);
            transition: $transition;

            &:hover {
                color: theme-color(primary);
            }
        }

        &:not(.fr-menu__item--parent) {        
            > a {
                color: $gray;
                font-size: font-size(small);

                &:hover {
                    color: theme-color(primary);
                }
            }
        }

        &--active {
            &:not(.fr-menu__item--parent) {
                > a {
                    color: primary-color();
                    font-weight: font-weight(semibold);
                    background-color: primary-color(-90);
                    border-radius: border-radius(base);
                }
            }
        }
        
        &--parent {
            font-weight: font-weight(bold);
        }

        &:first-child {
            padding-top: spacing(x-small);
        }
    }
}
