.fr-menu {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-right: spacing(base);
  height: 100%;
  flex: 1;

  .fr-menu__label {
    font-weight: font-weight(bold);
    padding: spacing(small);
    padding-left: spacing(base);
  }
  
  .fr-menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .fr-menu__item {
    > a {
      display: block;
      padding: spacing(small);
      padding-left: spacing(base);
      transition: $transition;
      color: $gray;

      &:hover {
        color: theme-color(primary);
      }
    }

    &--active {
      &:not(.fr-menu__item--parent) {
        > a {
          color: primary-color();
          font-weight: font-weight(semibold);
          background-color: primary-color(-90);
          border-radius: border-radius(base);
        }
      }
    }
  }
}
