&-Preview {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 3em;

  &-tag {
    position: absolute;
    top: 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: font-weight(medium);
    transform: translateY(-100%);
    font-size: font-size(xxsmall);
    background-color: theme-color(secondary);
    color: color-yiq(theme-color(secondary));
    border: solid 1px theme-color(secondary);
    padding: 0.15em 0.5em;
    border-top-left-radius: border-radius(base);
    border-top-right-radius: border-radius(base);
  }

  &-display {
    padding: spacing(large);
    border: solid 1px $light;
    border-top-right-radius: $border-radius;
    overflow: hidden;

    &--borderless {
      border: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-highlight {
    > pre {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
