@import "~scss/vendor/abstracts";
@import "../../../../../scss/layout/structure";

.fr-docs {
  @extend .structure;
  flex-direction: column;
    
  @include media(md) {
    flex-direction: row;
  }

  &-sidebar {
    display: none;

    @include media(md) {
      position: sticky;
      display: flex;
      height: calc(100vh - 5em);
      top: 5em;
      flex: 0 0 250px;
      border-right: solid 1px gray(100);
    }
  }

  &-content {
    @extend .structure;
    padding: spacing(base);

    @include media(lg) {
      padding-top: spacing(large);
      padding-left: spacing(large);
      padding-right: spacing(base);
    }
  }
}