$justify-contents: (
    flex-start: start,
    center: center,
    flex-end: end,
    space-between: between,
    space-around: around,
    space-evenly: evenly
) !default;

$align-items: (
    flex-start: start,
    center: center,
    flex-end: end,
    stretch: stretch,
    baseline: baseline
) !default;

.flex {
    display: flex;

    &--inline   { display: inline-flex; }
    &--row      { flex-direction: row; }
    &--column   { flex-direction: column; }
}

@each $type, $abbr in $justify-contents {
	.jc-#{$abbr},
    .justify-content-#{$abbr} {
    	justify-content: $type;
    }
}

@each $type, $abbr in $align-items {
	.ai-#{$abbr},
	.align-items-#{$abbr} {
		align-items: $type;
	}
}