.form {
    .form__label {
        display: block;
        font-weight: font-weight(medium);
        margin-bottom: spacing(x-small);
    }

    .form__field {
        margin-bottom: spacing(base);
        
        @each $theme, $color in $theme-colors {
            &--#{$theme} {
                .form__label {
                    color: $color;
                }

                .input,
                .select {
                    border-color: $color;
                    
                    &:hover {
                        border-color: $color;
                    }
                    
                    &:focus {
                        border-color: $color;
                        box-shadow: 0 0 0.3em 0.2em rgba($color, 0.3);
                    }
                }

                .input-set {
                    border-color: $color;

                    &:focus-within {
                        .input-set__extra {
                            > .icon {
                                color: $color;
                            }
                        }
                    }
                }
            }
        }
	}
}