$form-themes: $theme-colors !default;

.form {
    .form__label {
        display: block;
        font-weight: font-weight(medium);
        margin-bottom: spacing(x-small);
    }

    .form__field {
        margin-bottom: spacing(base);
        
        @each $theme, $color in $form-themes {
            &--#{$theme} {
                .form__label {
                    color: $color;
                }

                .input-set {
                    border-color: $color;

                    &:focus-within {
                        .input-set__extra {
                            > .icon {
                                color: $color;
                            }
                        }
                    }
                }

                .input,
                .select {
                    border-color: $color;
                }
            }
        }
	}
}