.form {
    .form__label {
        display: block;
        font-weight: font-weight(medium);
        margin-bottom: spacing(x-small);
    }

    .form__field {
        margin-bottom: spacing(base);
        
        @each $theme, $value in $theme-colors {
            &--#{$theme} {
                .form__label {
                    color: $value;
                }

                .input-set {
                    border-color: $value;
                }

                .input,
                .select {
                    border-color: $value;
                }
            }
        }
	}
}