/*	---------------------------------------------------------------------------
	CONTAINER

	The container element sets up the outer most wrapper that mostly 
	controls how an element looks in different screen dimensions which 
	is an integral class to be added in most cases.
---------------------------------------------------------------------------  */

.container {
	margin: 0 auto;
	padding: 0 ($grid-gutter-width / 2);
	
	@each $breakpoint, $width in $container-max-widths {
		@include media($breakpoint) {
			max-width: $width;
			width: $width;
		}
	}

	&--is-block {
		margin: 0 ($grid-gutter-width);
		width: auto;
		max-width: none;
	}
}


/*	---------------------------------------------------------------------------
	ROW	
---------------------------------------------------------------------------  */

.row {
	@include flexbox();
	@include flex-wrap(wrap);
	margin: 0 ($grid-gutter-width / -2);

	&--is-gutterless {
		padding: 0;

		.tnk-column,
		[class*='tnk-column-'] {
			padding: 0;
		}
	}
}

/*	---------------------------------------------------------------------------
	COLUMNS

	The column class is the deepest level of the grid system that controls
	the width in which an element must show on different screens or 
	resolutions. Using row class on top of column classes is enforced 
	but not required.
---------------------------------------------------------------------------  */

.column {
	@include flex-grow(1);
	@include flex-shrink(0);
	@include flex-basis(auto);
	max-width: 100%;
	padding: 0 ($grid-gutter-width / 2);

	@for $index from 1 through $grid-columns {
		$width: $index / $grid-columns;
		
		&.column-#{$index} {
			@include flex-grow(1);
			@include flex-shrink(0);
			@include flex-basis(percentage($width));
			max-width: percentage($width);
		}
	}

	@each $breakpoint, $width in $breakpoints {
		@include media($breakpoint) {
			&.column-#{$breakpoint} {
				@include flex-grow(1);
				@include flex-shrink(0);
				@include flex-basis(0);
				max-width: 100%;
			}

			@for $index from 1 through $grid-columns {
				$width: $index / $grid-columns;
				
				&.column-#{$breakpoint}-#{$index} {
					@include flex-grow(1);
					@include flex-shrink(0);
					@include flex-basis(percentage($width));
					max-width: percentage($width);
				}
			}
		}
	}
}



