/*  ------------------------------------------------------

    GRID SYSTEM
	
------------------------------------------------------  */

/*  ------------------------------------------------------
    Container
------------------------------------------------------  */
.container {
	margin: 0 auto;
	padding: 0 ($grid-gap-width / 2);
	
	@each $breakpoint, $width in $container-max-widths {
		@include media($breakpoint) {
			max-width: $width;
			width: $width;
		}
	}

	&--is-block {
		margin: 0 ($grid-gap-width);
		width: auto;
		max-width: none;
	}
}


/*  ------------------------------------------------------
	Row	
------------------------------------------------------  */
.row {
	@include flexbox;
	@include flex-wrap(wrap);
	margin: 0 ($grid-gap-width / -2);

	&--is-gapless {
		padding: 0;

		.column,
		[class*='column-'] {
			padding: 0;
		}
	}
}

/*  ------------------------------------------------------
	Columns
------------------------------------------------------  */
.column {
	@include flex-grow(1);
	@include flex-shrink(0);
	@include flex-basis(0);
	max-width: 100%;
	padding: 0 ($grid-gap-width / 2);

	@for $index from 1 through $grid-columns {
		$width: $index / $grid-columns;
		
		&.column-#{$index} {
			@include flex-grow(1);
			@include flex-shrink(0);
			@include flex-basis(percentage($width));
			max-width: percentage($width);
		}
	}

	@each $breakpoint, $width in $breakpoints {
		@include media($breakpoint) {
			&.column-#{$breakpoint} {
				@include flex-grow(1);
				@include flex-shrink(0);
				@include flex-basis(0);
				max-width: 100%;
			}

			@for $index from 1 through $grid-columns {
				$width: $index / $grid-columns;
				
				&.column-#{$breakpoint}-#{$index} {
					@include flex-grow(1);
					@include flex-shrink(0);
					@include flex-basis(percentage($width));
					max-width: percentage($width);
				}
			}
		}
	}
}



