.Hero {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: $hero-height;

	&-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 250;
		background-position: center;
		background-size: cover;
	}

	&-body {
		flex: 1;
		height: 100%;
		padding-top: spacing(xlarge);
		padding-bottom: spacing(xlarge);
		
		&--centerized {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	
	> *:not(.Hero-bg),
	&-body {
		position: relative;
		z-index: 500;
	}
	
	@each $size, $height in $hero-heights {
		&--#{$size} {
			min-height: $height;
		}
	}
	
	@each $theme, $color in $theme-colors {
		&--#{$theme} {
			background-color: $color;
			color: color-yiq($color);

			.Hero-bg {
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					background-color: $color;
					opacity: 0.7;
				}
			}
		}
	}
	
	&--fullHeight {
		height: 100vh;
		min-height: 100vh;
	}
}