$hero-themes: $theme-colors;
$hero-height: 35em;
$hero-heights: () !default;
$hero-heights: map-merge((
	x-small: ($hero-height * 0.5),
	small: ($hero-height * 0.75),
	base: ($hero-height * 1),
	large: ($hero-height * 2),
	x-large: ($hero-height * 2.5)
), $hero-heights);

.hero {
	position: relative;
	min-height: $hero-height;
	
	@each $size, $height in $hero-heights {
		&--#{$size} {
			height: $height;
			min-height: $height;
		}
	}
	
	@each $theme, $color in $hero-themes {
		&--#{$theme} {
			background-color: $color;
			color: color-yiq($color);

			&.hero--has-overlay {
				background-position: center;
				background-size: cover;

				* {
					position: relative;
					z-index: 200;
				}

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					background-color: $color;
					opacity: 0.5;
					z-index: 100;

				}
			}
		}
	}

	&--absolute-center {
		display: flex;
		text-align: center;
		justify-content: center;
	}
}