.Section {
  position: relative;
  padding: 0 0 $spacing;

  @each $theme, $color in $color-themes {
    &--#{$theme} {
      background-color: $color;
      color: color-yiq($color);
    }
  }

  @each $spacing, $size in $spacings {
    &--#{$spacing} {
      padding-top: $size;
      padding-bottom: $size;
    }
  }
}
