.Structure {
  display: flex;

  &--horizontal {
    
    display: flex;
    flex-direction: column;  
  }
}

.structure {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  min-width: 0;

  &--horizontal {
    flex-direction: row;
  }
}
