.Alert {
  display: flex;
  align-items: center;
  color: $alert-fg-color;
  background-color: $alert-bg-color;
  border-radius: $alert-border-radius;
  
  @each $theme, $color in $theme-colors {
    &--#{$theme} {
      background-color: theme-color-shade($theme, $alert-bg-color-shade-level);
      color: theme-color-shade($theme, $alert-fg-color-shade-level);
    }
  }

  &__text {
    display: flex;
    flex-grow: 1;
    line-height: $line-height;
    padding: $alert-spacing;
  }

  &__icon {
    padding-top: $alert-spacing-y;
    padding-bottom: $alert-spacing-x;
  
    &:first-child { 
      padding-left: $alert-spacing-y;
    }
    
    &:last-child {
      padding-right: $alert-spacing-x;
    }
  }
}