$button-themes: $theme-colors;
$button-font-weight: font-weight(medium);
$button-color: $dark;
$button-background-color: $white;
$button-border-style: solid;
$button-border-width: 1px;
$button-border-color: gray(300);
$button-transition: $transition;
$button-hovered-color: primary-color(600);
$button-hovered-border-color: primary-color(400);
$button-focused-color: primary-color(600);
$button-focused-border-color: primary-color(600);
$button-active-color: primary-color(1000);
$button-active-border-color: primary-color(1000);
$button-disabled-opacity: 0.5 !default;
$button-padding-y: spacing(small);
$button-padding-x: spacing(large);
$button-padding: $button-padding-y $button-padding-x;
$button-paddings: (
	x-small: ($button-padding-y * .5) ($button-padding-x * .5),
	small: ($button-padding-y * .75) ($button-padding-x * .75),
	base: ($button-padding-y * 1) ($button-padding-x * 1),
	large: ($button-padding-y * 1.5) ($button-padding-x * 1.25),
	x-large: ($button-padding-y * 2) ($button-padding-x * 2)
) !default;

.button {
	position: relative;
	font-weight: $button-font-weight;
	padding: $button-padding;
	background-color: $button-background-color;
	border-style: $button-border-style;
	border-width: $button-border-width;
	border-color: $button-border-color;
	border-radius: $border-radius;
	transition: $button-transition;
	color: $button-color;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;

	//	Pseudo states	
	&:hover:not(:disabled),
	&--hovered:not(:disabled) {
		color: $button-hovered-color;
		border-color: $button-hovered-border-color;
		outline: none;
	}
	
	&:focus,
	&--focused {
		color: $button-focused-color;
		border-color: $button-focused-border-color;
		outline: none;
	}
	
	&:active,
	&--active {
		color: $button-active-color;
		border-color: $button-active-border-color;
		outline: none;
	}

	&:disabled,
	&--disabled {
		opacity: $button-disabled-opacity;
		cursor: not-allowed;
	}

	//	Theme modifier classes
	@each $theme, $color in $button-themes {
		&--#{$theme} {	
			background-color: $color;
			color: color-yiq($color);
			border-color: $color;

			&:hover:not(:disabled),
			&.button--hovered:not(:disabled) {
				color: color-yiq($color);
				background-color: tint($color, 20%);
				border-color: tint($color, 20%);
			}
			
			&:focus:not(:disabled),
			&.button--focused:not(:disabled) {
				color: color-yiq($color);
				background-color: tint($color, 20%);
				border-color: tint($color, 20%);
			}
			
			&:active:not(:disabled),
			&.button--active:not(:disabled) {
				color: color-yiq($color);
				background-color: shade($color, 20%);
				border-color: shade($color, 20%);
			}

			&.button--raised {
				&:hover:not(:disabled),
				&.button--hovered:not(:disabled) {
					border-bottom-width: 5px;
					border-bottom-color: $color;
					margin-top: -4px;
				}

				&:focus:not(:disabled),
				&.button--focus:not(:disabled) {
					border-color: tint($color, 10%);
					border-bottom-width: 5px;
					border-bottom-color: shade($color, 10%);
					background-color: tint($color, 10%);
					margin-top: -4px;
					outline: none;
				}

				&:active:not(:disabled),
				&.button--active:not(:disabled) {
					border-bottom-width: 1px;
					border-bottom-color: shade($color, 20%);
					background-color: shade($color, 20%);
					margin-top: 0;
					outline: none;
				}

			}

			&.button--outlined {
				color: $color;
				background-color: transparent;

				&:hover:not(:disabled),
				&.button--hovered:not(:disabled) {
					color: color-yiq($color);
					background-color: tint($color, 10%);
					border-color: tint($color, 10%);
				}

				
				&:focus:not(:disabled),
				&.button--focused:not(:disabled) {
					color: color-yiq($color);
					background-color: tint($color, 10%);
					border-color: tint($color, 10%);
					outline: none;
				}

				&:active:not(:disabled),
				&.button--active:not(:disabled) {
					color: color-yiq($color);
					background-color: shade($color, 20%);
					border-color: shade($color, 20%);
				}
			}
		}
	}

	//	Size modifier classes
	@each $size, $padding in $button-paddings {
		&--#{$size} {
			font-size: font-size($size);
			padding: $padding;
		}
	}

	//	Other modifiers
	&--pill {
		border-radius: $border-radius-pill;
	}

	&--full-width {
		width: 100%;
	}
}