/*	----------------------------------------------------------------------------
	BUTTON
----------------------------------------------------------------------------  */
$button-themes					: $theme-colors;
$button-font-weight				: font-weight(medium);
$button-background-color		: $white;

$button-border-style			: solid;
$button-border-width			: 1px;
$button-border-color			: gray(200);
$button-border-color-hover		: gray(300);
$button-border-color-focus		: gray(300);
$button-border-color-active		: gray(600);

$button-padding-y				: 0.75rem;
$button-padding-x				: 1.25rem;
$button-padding					: $button-padding-y $button-padding-x;
$button-paddings				: (
	x-small						: ($button-padding-y * .5) ($button-padding-x * .5),
	small						: ($button-padding-y * .75) ($button-padding-x * .75),
	base						: ($button-padding-y * 1) ($button-padding-x * 1),
	large						: ($button-padding-y * 1.5) ($button-padding-x * 1.5),
	x-large						: ($button-padding-y * 2) ($button-padding-x * 2)
) !default;

.button {
	position: relative;
	font-weight: $button-font-weight;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: $button-background-color;
	border-style: $button-border-style;
	border-width: $button-border-width;
	border-color: $button-border-color;
	border-radius: $border-radius;
	padding: $button-padding;
	transition: $transition;
	cursor: pointer;

	//	Pseudo states	
	&:hover,
	&--is-hovered {
		border-color: $button-border-color-hover;
	}
	
	&:focus,
	&--is-focused {
		border-color: $button-border-color-focus;
		outline: none;
	}
	
	&:active,
	&--is-active {
		border-color: $button-border-color-active;
		outline: none;
	}

	//	Theme modifier classes
	@each $theme, $color in $button-themes {
		&--is-#{$theme} {	
			background-color: $color;
			color: color-yiq($color);
			border-color: $color;
			border-bottom-color: shade($color, 10%);
			border-bottom-width: 3px;

			&.button--is-outlined {
				color: $color;
				background-color: transparent;

				&:hover {
					background-color: $color;
					color: color-yiq($color);
				}
			}
			
			&:hover,
			&--is-hovered {
				background-color: tint($color, 20%);
				border-color: tint($color, 20%);
				border-bottom-color: shade($color, 10%);
			}

			&:focus,
			&--is-focused {
				border-color: $color;
				border-bottom-color: shade($color, 10%);
			}

			&:active,
			&--is-active {
				border-color: $color;
				animation: bottomOut 300ms;
				border-bottom-color: shade($color, 10%);
				outline: none;
			}
		}
	}

	//	Size modifier classes
	@each $size, $padding in $button-paddings {
		&--is-#{$size} {
			font-size: font-size($size);
			padding: $padding;
		}
	}

	//	Other modifiers
	&--is-pill {
		border-radius: $border-radius-is-pill;
	}

	&--is-full-width {
		width: 100%;
	}
}