$card-themes			: $theme-colors;
$card-padding			: $spacing;
$card-background		: $white;
$card-border			: solid 1px $light;
$card-border-radius		: $border-radius;
$card-inner-border		: solid 1px $lighter;

.card {
	@include flexbox;
	@include flex-direction(column);
	position: relative;
	background-color: $card-background;
	border-radius: $card-border-radius;
	border: $card-border;
	word-wrap: break-word;
	overflow: hidden;

	.card__header,
	.card__body,
	.card__footer {
		padding: $card-padding;
	}

	.card__header {
		@each $theme, $value in $theme-colors {
			&--#{$theme} {
				background-color: $value;
				color: color-yiq($value);
			}
		}
	}

	.card__image {
		position: relative;
		height: 200px;
		min-height: 200px;
		overflow: hidden;

		> img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	//	Generate theme modifier classes for a card component.
	@each $theme, $color in $card-themes {
		&--#{$theme} {
			transition: $transition;
			background-color: $color;
			color: color-yiq($color);
			border: solid 1px shade($color, 10%);
			overflow: hidden;

			&.card--has-overlay {
				@include flexbox;
				@include flex-direction(column);
				@include justify-content(flex-end);
				min-height: 15em;
				border: 0;
		
				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					background-color: $color;
					color: color-yiq($color);
					opacity: 0.7;
					z-index: 10;
				}
		
				.card__image {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					z-index: 5;
				}
		
				.card__header,
				.card__body,
				.card__footer {
					z-index: 15;
				}
			}
		}

	}

	&--pill {
		border-radius: border-radius(pill);
	}

	&--transparent {
		border: 0;
		background: transparent;

		.card__header,
		.card__body,
		.card__footer {
			padding-left: 0;
			padding-right: 0;
		}

		.card__image {
			border-radius: $card-border-radius;
		}
	}
}

.card-list {
	@extend .row;

	.card {
		margin-bottom: spacing(large);
	}
}