.Card {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: $card-background;

	> * {
		&:not(:only-child) {
			&:first-child {
				border-top-left-radius: $border-radius;
				border-top-right-radius: $border-radius;
			}
		
			&:last-child {
				border-bottom-left-radius: $border-radius;
				border-bottom-right-radius: $border-radius;
			}
		}
	}
	
	&-header,
	&-body,
	&-footer {
		padding: $card-padding;
		border: $card-border;

		@each $theme, $color in $theme-colors {
			&--#{$theme} {
				background-color: $color;
				border: solid 1px $color;
				color: color-yiq($color);
			}
		}
	}

	&-body {
		&:not(:first-child) {
			border-top: none;
		}

		&:not(:last-child) {
			border-bottom: none;
		}
	}

	&-image {
		position: relative;
		height: 200px;
		overflow: hidden;

		> img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	@each $theme, $color in $theme-colors {
		&--#{$theme} {
			.Card-header,
			.Card-body,
			.Card-footer {	
				background-color: $color;
				border-color: theme-color-shade($theme, 15);
				color: color-yiq($color);
			}

			&.Card--hasOverlay {
				border-radius: $border-radius;
				overflow: hidden;

				.Card-header,
				.Card-body,
				.Card-footer {
					position: relative;
					background-color: rgba($color, 0.75);
					border-radius: border-radius(base);
					z-index: 150;
				}
					
				.Card-image {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					z-index: 100;
				}
			}
		}
	}
}