$input-font-size: $font-size;
$input-color: $dark;
$input-border-style: solid;
$input-border-width: 1px;
$input-border-color: $light;
$input-border-radius: border-radius(base);

$input-hovered-color: primary-color(40);

$input-focused-border-color: primary-color();
$input-focused-box-shadow-blur: 0.3em !default;
$input-focused-box-shadow-spread: 0.2em !default;
$input-focused-box-shadow-color: rgba(tint($primary-color, 15%), 0.3) !default;
$input-focused-box-shadow: 0 0 ($input-focused-box-shadow-blur) ($input-focused-box-shadow-spread) ($input-focused-box-shadow-color);

$input-hovered-border-color: primary-color(-20);

$input-spacing-y: spacing(small) !default;
$input-spacing-x: spacing(base) !default;
$input-spacing: $input-spacing-y $input-spacing-x;

$input-background: $white;
$input-transition: $transition;

$input-disabled-background: $lighter;

$input-set-border-color: $light !default;
$input-set-border-radius: border-radius(base);

.input,
.textarea {
	width: 100%;
}

.input,
.select > select,
.textarea {
	padding: $input-spacing;
	position: relative;
	transition: $input-transition;
	font-size: $input-font-size;
	background-color: $input-background;
	color: $input-color;
	border-style: $input-border-style;
	border-width: $input-border-width;
	border-color: $input-border-color;
	border-radius: $input-border-radius;
	outline: none;
	white-space: normal;
	
	&:focus {
		border-color: $input-focused-border-color;
		box-shadow: $input-focused-box-shadow;
	}

	&:disabled {
		background-color: $input-disabled-background;
		cursor: not-allowed;
	}

	&:hover:not(:disabled) {
		border-color: $input-hovered-border-color;
	}

	@each $theme, $color in $theme-colors {
		&--#{$theme} {
			border-color: tint($color, 20%);

			&:not(:disabled) {
				&:hover {
					border-color: tint($color, 10%);
				}
			}

			&:focus {
				border: solid 1px $color;
				box-shadow: 0 0 $input-focused-box-shadow-blur $input-focused-box-shadow-spread rgba(tint($color, 15%), 0.3);
			}
		}
	}

	@each $size, $value in $font-sizes {
		&--#{$size} {
			font-size: $value;
			padding: spacing($size);
		}
	}

	&--pill {
		border-radius: $border-radius-pill;
	}
}

.select {
	position: relative;
	
	> select {
		-webkit-appearance: none;
		-moz-appearance: none;
		padding-right: 3em;
		cursor: pointer;
	}

	&:after {
		content: "\f078";
		transition: $input-transition;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		position: absolute;
		pointer-events: none;
		right: spacing(base);
		top: 50%;
		transform: translateY(-50%);
		line-height: 0;
		color: $gray;
	}

	
	&:focus-within {
		&:after {
			transform: rotate(180deg) translateY(-50%);
			color: primary-color();
		}
	}
}

.input-group {
	display: flex;
	flex-direction: row;
	width: 100%;

	> *:first-child,
	> .select:first-child > select {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	> *:not(:first-child):not(:last-child),
	> .select:not(:first-child):not(:last-child) > select {
		border-radius: 0;
	}

	> *:last-child,
	> .select:last-child > select {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.input-set {
	display: flex;
	flex-direction: row;
	transition: $input-transition;
	border-style: $input-border-style;
	border-width: $input-border-width;
	border-color: $input-border-color;
	border-radius: $input-border-radius;
	overflow: hidden;
	width: 100%;

	&:hover {
		border-color: $input-hovered-border-color;
	}

	&__extra {
		display: flex;
		align-items: center;
		transition: $input-transition;
		padding-left: $input-spacing-x;
		padding-right: $input-spacing-x;
		background-color: $light;
	}

	&__icon {
		display: flex;
		align-items: center;
		transition: $input-transition;

		> .icon {
			color: $light;
		}

		&:first-child {
			padding-left: $input-spacing-x;
		}

		&:last-child {
			padding-right: $input-spacing-x;
		}
	}

	&:focus-within {
		box-shadow: $input-focused-box-shadow;
		border-color: $input-focused-border-color;

		.input-set__icon > .icon {
			color: primary-color();
		}

		.input-set__extra {
			background-color: primary-color();
			color: color-yiq(primary-color());
		}
	}

	> .input,
	> .select {
		border: none;
		box-shadow: none;
	}
}