$input-themes				: $theme-colors;
$input-font-size          	: $font-size;
$input-font-sizes         	: $font-sizes;
$input-color				: $dark;
$input-border             	: solid 1px gray(300);
$input-border-focused    	: solid 1px theme-color(primary);
$input-border-radius      	: border-radius(base);
$input-hovered-color		: $dark;
$input-hovered-border		: solid 1px gray(400);
$input-focused-color		: primary-color(1000);
$input-focused-border		: solid 1px primary-color(600);
$input-padding-y         	: spacing(small);
$input-padding-x         	: spacing(base);
$input-padding           	: $input-padding-y $input-padding-x;
$input-background         	: $white;
$input-transition			: $transition;

.input,
.select > select {
	transition: $input-transition;
	font-size: $input-font-size;
	background-color: $input-background;
	color: $input-color;
	border: $input-border;
	border-radius: $input-border-radius;
	padding: $input-padding;
	outline: none;
	white-space: normal;
	width: 100%;

	&:hover {
		color: $input-hovered-color;
		border: $input-hovered-border;
	}

	&:focus {
		color: $input-focused-color;
		border: $input-focused-border;
	}

	@each $theme, $color in $input-themes {
		&--#{$theme} {
			border-color: tint($color, 20%);

			&:hover {
				border-color: tint($color, 10%);
			}

			&:focus {
				border: solid 1px $color;
				color: $color;
			}
		}
	}

	@each $size, $value in $input-font-sizes {
		&--#{$size} {
			font-size: $value;
			padding: spacing($size);
		}
	}

	&--pill {
		border-radius: $border-radius-pill;
	}
}

.select {
	position: relative;
	
	> select {
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	&:after {
		transition: $input-transition;
		content: "\f078";
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		position: absolute;
		right: spacing(base);
		top: 50%;
		transform: translateY(-50%);
		line-height: 0;
		color: gray(600);
	}

	&:focus-within {
		&:after {
			top: 50%;
			transform: rotate(180deg) translateY(-50%);
			color: primary-color(600);
		}
	}
}

.input-set {
	display: flex;
	transition: $input-transition;
	border: $input-border;
	border-radius: $input-border-radius;
	background-color: $input-background;
	overflow: hidden;
	width: 100%;

	&--pill {
		border-radius: $border-radius-pill;
	}
	
	&:focus-within {
		border: $input-focused-border;

		.input-set__extra--icon {
			color: primary-color(600);
		}
	}

	&__extra {
		display: flex;
		align-items: center;
		transition: $input-transition;
		padding-top: $input-padding-y;
		padding-bottom: $input-padding-y;
		border-radius: 0;

		&--icon {
			color: gray(600);
		}

		&:first-child {
			padding-left: $input-padding-x;
		}

		&:last-child {
			padding-right: $input-padding-x;
		}
	}

	> .input,
	> .select {
		border: 0;
	}
}


.input-group {
	display: flex;
	
	> *:first-child {
		border-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	> *:last-child {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left: 0;
	}
}