.ListGroup {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  
  &-item {
    padding: $list-group-item-spacing;

    &:not(:last-child) {
      border-bottom-style: $list-group-item-border-style;
      border-bottom-color: $list-group-item-border-color;
      border-bottom-width: $list-group-item-border-width;
    }
  }
}