.Menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  
  $menu: &;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    > #{$menu}__link { 
      display: block;
      color: inherit;
      font-weight: font-weight(bold);
      padding: spacing(small) spacing(base);
      transition: $transition;
    }

    &--hasSubmenu {
      #{$menu}__item {  
        > #{$menu}__link {
          font-weight: font-weight(regular);
          color: $gray;
        }

        &--isActive {
          > #{$menu}__link {
            background-color: theme-color-shade(primary, -90);
            color: theme-color(primary);
            font-weight: font-weight(semibold);
            border-radius: border-radius(base);
          }
        }
      }
    }
  }

  @each $theme, $color in $theme-colors {
    
  }
}