

.navbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: $navbar-height;
	min-height: $navbar-height;
	transition: $navbar-transition;
	background: $navbar-background;
	
	&__block {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 100%;

		&--expanded {
			flex-grow: 1;
		}
		
		&:not(:first-child):not(:only-child) {
			padding-left: spacing(small);
		}

		&:not(:last-child):not(:only-child) {
			padding-right: spacing(small);
		}
		
		&--start { 
			justify-content: flex-start;
		}

		&--center {
			justify-content: center;
		}

		&--end {
			justify-content: flex-end;
		}
	}

	.nav {
		display: flex;
		height: 100%;

		.nav {
			&__link {
				display: flex;
				height: 100%;
				align-items: center;
				padding-top: 0;
				padding-bottom: 0;
				color: $navbar-color;

				&:hover {
					color: $navbar-hovered-color;
				}
			}

		}

	}

	@each $theme, $color in $theme-colors {
		&--#{$theme} {
			background-color: $color;
			color: color-yiq($color);

			.nav {
				.nav {
					&__link {
						transition: $transition;
						color: rgba(color-yiq($color), 0.7);

						&:hover {
							color: rgba(color-yiq($color), 1);
						}
					}
				}
			}
		}
	}
	
	@each $size, $value in $navbar-heights {
		&--#{$size} {
			height: $value;
			min-height: $value;
		}
	}
}