$navbar-themes: $theme-colors;
$navbar-transition: $transition !default;
$navbar-background: gray(100) !default;
$navbar-color: color-yiq($navbar-background);
$navbar-height: 4em;
$navbar-heights: (
	x-small: ($navbar-height * .5),
	small: ($navbar-height * .75),
	base: ($navbar-height * 1),
	large: ($navbar-height * 1.5),
	x-large: ($navbar-height * 2)
) !default;

.navbar {
	position: relative;
	height: $navbar-height;
	min-height: $navbar-height;
	transition: $navbar-transition;
	background: $navbar-background;

	// Generates different themes for Navbar component.
	@each $theme, $color in $navbar-themes {
		&--#{$theme} {
			background-color: $color;
			color: color-yiq($color);
		}
	}
	
	// Generates different sizes for Navbar component.
	@each $size, $value in $navbar-heights {
		&--#{$size} {
			height: $value;
			min-height: $value;
		}
	}

	.navbar__container {
		@extend .container;
		display: flex;
		justify-content: space-between;
		height: 100%;

		&--full-width {
			@extend .container--full-width;
		}
	}
	
	.navbar__block {
		position: relative;
		display: flex;
		flex: 1 1 auto;
		align-items: center;
	}
	
	.nav {
		height: 100%;

		.nav__list {
			height: 100%;
		}

		.nav__item {
			display: flex;
			align-items: center;
		}
	}
}