.Nav {
  &-list {
    display: flex;
    flex-direction: row;
  }

  &-item {
    display: flex;
    align-items: center;
    transition: $transition;
    font-weight: font-weight(medium);
  }

  &-link {
    display: block;
    transition: $transition;
    padding: spacing(base);
    border-radius: border-radius(base);

    &:hover {
      cursor: pointer;
      color: theme-color(primary);
    }
  }
}
