@import "@formare/color/scss/variables";

@mixin fr-create-checkbox-classes() {
  .Checkbox {
    @include fr-checkbox-base-styles();
    @include fr-create-checkbox-state-classes();
    @include fr-create-checkbox-color-theme-classes();
  }
}

@mixin fr-checkbox-base-styles() {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  > *:first-child {
    margin-right: fr-spacing(small);
  }

  > [type="checkbox"] {
    position: relative;
    appearance: none;
    outline: none;
    height: $fr-checkbox-height;
    width: $fr-checkbox-width;

    &:before {
      content: "";

      display: inline-block;
      transition: $fr-checkbox-transition;

      border-style: $fr-checkbox-border-style;
      border-width: $fr-checkbox-border-width;
      border-color: $fr-checkbox-border-color;

      border-radius: $fr-checkbox-border-radius;

      height: $fr-checkbox-height;
      width: $fr-checkbox-width;
    }

    &:after {
      content: "";
      transition: all 200ms ease-out;
      position: absolute;
      top: 50%;
      left: 50%;
      border: solid 2px $white;
      border-top: none;
      border-left: none;
      height: 12px;
      width: 6px;
      line-height: 0;
      transform: translate(-50%, -60%) rotate(45deg) scale(0.8);
      transform-origin: center center;
      opacity: 0;
      font-weight: bold;
    }
  }
}

@mixin fr-create-checkbox-color-theme-classes() {
  @each $color-theme, $color-theme-value in $fr-color-themes {
    &--#{$theme} {
      > [type="checkbox"] {
        &:before {
          border-color: $color;
        }

        &:checked {
          &:before {
            background-color: $color;
            border-color: $color;
          }
        }
      }
    }
  }
}

@mixin fr-create-checkbox-state-classes() {
  > [type="checkbox"] {
    @include fr-create-checkbox-checked-state();
  }
}

@mixin fr-create-checkbox-checked-state() {
  &:checked,
  .is-checked {
    &:before {
      border-color: $fr-checkbox-checked-border-color;
      background-color: $fr-checkbox-checked-bg-color;
    }

    &:after {
      color: $fr-checkbox-checked-fg-color;
      transform: translate(-50%, -60%) rotate(45deg) scale(1);
      opacity: 1;
    }
  }

  &:hover {
    > [type="checkbox"] {
      &:before {
        border-color: $primary-color;
      }
    }
  }
}

@mixin fr-create-checkbox-focused-state() {
  &:focus,
  .is-focused {
    // TO-DO: Add checked state classes for checkbox component.

    // &:before {
    //   box-shadow: $fr-checkbox-focused-box-shadow;
    // }
  }
}

@mixin fr-checkbox-is-not-disabled() {
  &:not(:disabled):not(.is-disabled) {
    @content;
  }
}
