@import "~scss/vendor/abstracts";
@import "../../../../../scss/layout/structure";

.Docs {
  @extend .structure;
  flex-direction: column;
    
  @include media(md) {
    flex-direction: row;
  }
}

.DocsSidebar {
  display: none;
  position: sticky;
  height: calc(100vh - 5em);
  top: 5em;
  border-right: solid 1px gray(100);
  padding-top: spacing(large);
  padding-right: spacing(large);

  @include media(lg) {
    display: flex;
    flex: 0 0 250px;
  }
}

.DocsContent {
  @extend .structure;
  padding-top: spacing(base);
  padding-left: spacing(base);
  padding-right: spacing(base);
  background-color: $white;
  
  @include media(lg) {
    padding-top: spacing(large);
    padding-left: spacing(x-large);
  }
}