@import "~scss/vendor/abstracts";
@import "../../../../../scss/components/heading";

.fr-Docs {
  display: flex;
  flex-direction: row;
}

.fr-DocsSidebar {
  display: none;
  position: sticky;
  height: calc(100vh - 5em);
  top: 5em;
  padding-top: spacing(large);
  padding-right: spacing(large);

  @include media(lg) {
    display: flex;
    flex: 0 0 300px;
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: primary-color(-95);
    z-index: 250;
  }
}

.fr-DocsContent {
  position: relative;
  background-color: $white;
  width: 100%;
  padding: 0;
  padding-top: spacing(large);
  z-index: 500;

  @include media(md) {
    padding-top: spacing(xxlarge);
  }
}

.fr-DocsArticle {
  @include media(md) {
    padding-left: spacing(xxlarge);
    padding-right: spacing(xxlarge);
  }
  
  &-heading {
    margin-bottom: spacing(xlarge);
  }

  &-title {
    @extend .Title;
  }

  &-subtitle {
    @extend .Subtitle;
    color: $gray;
  }

  .Heading {
    margin-top: spacing(xxlarge);
    margin-bottom: spacing(base);
  }
}

.fr-DocsMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  z-index: 500;

  
  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-item {
    > .fr-DocsMenu-link { 
      display: block;
      color: inherit;
      font-weight: font-weight(bold);
      padding: spacing(small) spacing(base);
      transition: $transition;
    }

    &--isActive {
      > .fr-DocsMenu-link {
        color: theme-color(primary);
      }
    }

    &--hasSubmenu {
      .fr-DocsMenu-item {  
        > .fr-DocsMenu-link {
          font-weight: font-weight(regular);
          color: $gray;
        }

        &--isActive {
          > .fr-DocsMenu-link {
            background-color: theme-color-shade(primary, -80);
            color: theme-color(primary);
            font-weight: font-weight(semibold);
            border-radius: border-radius(base);
          }
        }
      }
    }
  }
}