@import '~scss/vendor/abstracts';
@import '../../../../../scss/components/heading';

.Docs {
  display: flex;
  flex-direction: row;
}

.DocsContent {
  position: relative;
  background-color: $white;
  width: 100%;
  padding: 0;
  padding-top: spacing(large);
  z-index: 500;

  @include media(md) {
    padding-top: spacing(xxlarge);
  }
}

.DocsArticle {
  @include media(md) {
    padding-left: spacing(xxlarge);
    padding-right: spacing(xxlarge);
  }

  &-heading {
    margin-bottom: spacing(xlarge);

    > .DocsArticle-title {
      @extend .Title;
    }

    > .DocsArticle-subtitle {
      @extend .Subtitle;
      color: $gray;
    }
  }

  .Heading {
    margin-top: spacing(xxlarge);
    margin-bottom: spacing(base);
  }
}

.DocsSidebar {
  display: none;
  position: sticky;
  height: calc(100vh - 5em);
  top: 5em;
  padding-top: spacing(large);
  padding-right: spacing(large);

  @include media(lg) {
    display: flex;
    flex: 0 0 300px;
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: primary-color(-93);
    z-index: 250;
  }
}

.DocsMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  z-index: 500;

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-item {
    > .DocsMenu-link {
      display: block;
      color: inherit;
      font-weight: font-weight(bold);
      padding: spacing(small) spacing(base);
      transition: $transition;
    }

    &--isActive {
      > .DocsMenu-link {
        color: theme-color(primary);
      }
    }

    &--hasSubmenu {
      .DocsMenu-item {
        > .DocsMenu-link {
          font-weight: font-weight(regular);
          color: $gray;
        }

        &--isActive {
          > .DocsMenu-link {
            background-color: theme-color-shade(primary, -80);
            color: theme-color(primary);
            font-weight: font-weight(semibold);
            border-radius: border-radius(base);
          }
        }
      }
    }
  }
}
