/*	------------------------------------------------------------

	I C O N O G R A P H Y
	
	Anything related to icons, from settings/configuration to
	declaration should be put below.

------------------------------------------------------------  */

/*	----------------------------
	VARIABLES
----------------------------  */
$font-path: "../assets/fonts/sportshub" !default;

$sh-badminton: \e900;
$sh-baseball: \e901;
$sh-basketball: \e902;
$sh-soccer: \e903;
$sh-volleyball: \e904;

//
//-------------------------------------------------------------------

/*	----------------------------
	FONT FACE
----------------------------  */

@font-face {
	font-family: 'sportshub';
	src:  url('#{$font-path}/sportshub.eot?biwu72');
	src:  url('#{$font-path}/sportshub.eot?biwu72#iefix') format('embedded-opentype'),
	url('#{$font-path}/sportshub.ttf?biwu72') format('truetype'),
	url('#{$font-path}/sportshub.woff?biwu72') format('woff'),
	url('#{$font-path}/sportshub.svg?biwu72#sportshub') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*	----------------------------
	
----------------------------  */

.icon--sportshub {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'sportshub' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 32px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
	@return unquote("\"") + $str + unquote("\"");
}

.sh-badminton {
	&:before {
		content: unicode($sh-badminton); 
	}
}
.sh-baseball {
	&:before {
		content: unicode($sh-baseball); 
	}
}
.sh-basketball {
	&:before {
		content: unicode($sh-basketball); 
	}
}
.sh-soccer {
	&:before {
		content: unicode($sh-soccer); 
	}
}
.sh-volleyball {
	&:before {
		content: unicode($sh-volleyball); 
	}
}
