a {
  color: $primary-color;
  cursor: pointer;
}

// Headings
@each $heading, $size in $headings {
  $index: index($headings, ($heading $size));

  h#{$index} {
    font-size: $size;
  }

  .#{$heading},
  .Heading-#{$index} {
    font-size: $size !important;
  }
}
