/*	----------------------------------------------------------------------------
	TYPOGRAPHY
----------------------------------------------------------------------------  */
//	Font
.font {
	font-size: $font-size;

	@each $size, $value in $font-sizes {
		&--#{$size} {
			font-size: $value; 
		} 
	}
	
	@each $weight, $value in $font-weights {
		&--#{$weight} {
			font-weight: $value;
		}
	}
}


//	Headings
@each $heading, $size in $headings {
    $index: index($headings, ($heading $size));
    
    #{$heading},
    .heading-#{$index} {
        font-size: $size;
    }
}

.title 		{ font-weight: font-weight(bold); 	}
.subtitle	{ font-weight: font-weight(regular); 	}

//	Alignments
@each $align in $text-aligns {
	.align-#{$align} {
		text-align: $align;
	}
}

//	Links
a {
	transition: $transition;
	color: primary-color(600);
	text-decoration: none;

	&:hover {
		color: primary-color(300);
	}
}

//	Article
.article {
	.heading {
		margin-bottom: spacing(base);
	}
	
	p {
		margin-bottom: spacing(large);
	}
}