@import 'src/scss/abstracts';
@import '../../../../scss/layout/structure';

.fr-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1500;

  &--fixed {
      position: fixed;
  }
}

.fr-main {
  padding-top: 4em;
}

.fr-aside {
  position: sticky;
  height: calc(100vh - 4em);
  top: 4em;
  flex: 0 0 250px;
}

.fr-content {
  @extend .structure;
  padding-top: spacing(large);
  padding-left: spacing(large);
  padding-right: spacing(large);
}

// pd-top-x-large pd-left-x-large pd-right-large

