@import '~scss/vendor/abstracts';
@import '../../../../scss/layout/structure';

#master-logo {
  font-size: font-size(x-large);
  font-weight: font-weight(bold);
  padding-left: spacing(base);
  padding-right: spacing(base);
}

.fr-global {
  @extend .structure;
  
  .fr-global-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1500;
    
    #master-nav {
      display: none;
    }
  
    @include media(md) {
      #master-nav {
        display: flex;
      }
    }
  }
  
  .fr-global-content {
    padding-top: 5em;
  }
}