@import 'src/scss/vendor/abstracts';

.Docs {
  display: flex;
  flex-direction: row;
}

.DocsMenu {
  position: sticky;
  min-height: calc(100vh - 5em);
  background-color: theme-color-shade(lighter, -50);
  padding-left: spacing(base);
  padding-right: spacing(base);
  flex-basis: 300px;

  &-list {
    list-style: none;
    padding-left: 0;
  }

  &-item & {
    &-link {
      display: block;
      font-weight: font-weight(semibold);
      padding-top: spacing(small);
      padding-bottom: spacing(small);
      transition: all 250ms ease-in-out;
      color: $dark;

      &:hover {
        color: theme-color(primary);
      }
    }
  }
}
