@import '@formare/core/scss/utils';
@import './functions';

$fr-spacing: 1rem !default;
$fr-spacings: () !default;
$fr-spacings: map-merge(
  (
    'auto': auto,
    '3xsmall': $fr-spacing * 0.25,
    '2xsmall': $fr-spacing * 0.5,
    'xsmall': $fr-spacing * 0.75,
    'small': $fr-spacing * 0.875,
    'base': $fr-spacing,
    'large': $fr-spacing * 1.25,
    'xlarge': $fr-spacing * 1.5,
    '2xlarge': $fr-spacing * 2,
    '3xlarge': $fr-spacing * 3,
  ),
  $fr-spacings
);

// prettier-ignore
$fr-spacing-type-map: (
  "margin": "mg",
  "padding": "pd"
);

$fr-spacing-direction-map: ('top', 'left', 'right', 'bottom');

// prettier-ignore
$fr-spacing-axes: (
  "x": ("left", "right"),
  "y": ("top", "bottom")
);
