$frd-link-card-transition: all 150ms ease-out;
$frd-link-card-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
$frd-link-card-hovered-box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.1);
$frd-link-card-hovered-transform: translateY(-3px);
