@import '@formare/responsive/scss/variables';
@import '@formare/responsive/scss/mixins';
@import './variables';

@mixin fr-create-grid-classes() {
  .Grids,
  .Row {
    @include fr-grid-row-base();
    @include fr-grid-row-modifiers();
  }

  .Grid,
  .Column {
    @include fr-grid-column-base();
    @include fr-grid-columns();
  }
}

@mixin fr-grid-row-base() {
  display: flex;
  flex-wrap: wrap;
  margin: 0 ($fr-grid-gap-gutter / -1);

  > .Grid,
  > .Column,
  > [class*='Grid-'],
  > [class*='Column-'] {
    padding: $fr-grid-gap-gutter;
  }
}

@mixin fr-grid-row-modifiers() {
  &--gapless {
    padding: 0 !important;

    > .Grid,
    > .Column,
    > [class*='Column-'],
    > [class*='Grid-'] {
      padding: 0;
    }
  }
}

@mixin fr-grid-column-base() {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  max-width: 100%;
}

@mixin fr-grid-columns() {
  @for $index from 1 through $fr-grid-columns {
    $width: $index / $fr-grid-columns;

    &-#{$index} {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: percentage($width);
      max-width: percentage($width);
    }
  }

  @include fr-append-responsive-media-classes() {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  @each $breakpoint, $width in $fr-responsive-breakpoints {
    @for $index from 1 through $fr-grid-columns {
      @include fr-responsive-media($breakpoint) {
        $width: $index / $fr-grid-columns;

        &-#{$breakpoint}-#{$index} {
          flex-grow: 1;
          flex-shrink: 0;
          flex-basis: percentage($width);
          max-width: percentage($width);
        }
      }
    }
  }
}
