$border-radius: 2px !default;
$border-radiuses: () !default;
$border-radiuses: map-merge(
  (
    none: 0,
    base: $border-radius,
    large: $border-radius * 1.5,
    xlarge: $border-radius * 2,
    2xlarge: $border-radius * 3
  ),
  $border-radiuses
);

$border-radius-pill: 50px;
$border-radius-circle: 100%;
