$button-font-weight: font-weight(medium) !default;
$button-fg-color: $dark !default;
$button-bg-color: $white !default;

$button-border-style: solid;
$button-border-width: 1px;
$button-border-color: gray(300);

$button-transition: $transition;

$button-hovered-color: primary-color(0);
$button-hovered-border-color: primary-color(0);

$button-focused-color: primary-color(-20);
$button-focused-border-color: primary-color(-20);

$button-active-color: primary-color(40);
$button-active-border-color: primary-color(40);

$button-disabled-opacity: 0.5 !default;

$button-clear-text-color: primary-color(0) !default;
$button-clear-hovered-text-color: primary-color(40) !default;

$button-padding-y: spacing(x-small) !default;
$button-padding-x: spacing(base) !default;
$button-padding: $button-padding-y $button-padding-x;
$button-paddings: () !default;
$button-paddings: map-merge((
	x-small: ($button-padding-y * .5) ($button-padding-x * .5),
	small: ($button-padding-y * .75) ($button-padding-x * .75),
	base: $button-padding,
	large: ($button-padding-y * 1.25) ($button-padding-x * 1.25),
	x-large: ($button-padding-y * 1.5) ($button-padding-x * 1.5)
), $button-paddings);
