$card-padding: spacing(base);

$card-bg-color: $white;
$card-fg-color: color-yiq($card-bg-color);

$card-border-style: solid;
$card-border-width: 1px;
$card-border-color: $light;
$card-border-radius: border-radius(base);
