// 🎨 Formare's default color palletes
//

$violet-blue: #4061c4 !default;
// $ocean-blue: #5143c4 !default;
$jaffa: #e58139 !default;
$trinidad: #e54206 !default;
$mountain-meadow: #18b247 !default;
$maximum-green-yellow: #e2ed49 !default;
$medium-vermillion: #d86141 !default;
$cello: #1c415b !default;
$deep-cerulean: #007ea7 !default;
$pelorous: #45a1bf !default;
$sirocco: #6d7a7d !default;

// Shades of gray
$gray: $sirocco !default;
$grays: () !default;
$grays: map-merge(
  (
    100: tint($gray, 90%),
    200: tint($gray, 80%),
    300: tint($gray, 70%),
    400: tint($gray, 60%),
    500: tint($gray, 50%),
    600: tint($gray, 40%),
    700: tint($gray, 30%),
    800: tint($gray, 20%),
    900: tint($gray, 10%),
    1000: $gray,
    1100: shade($gray, 10%),
    1200: shade($gray, 20%),
    1300: shade($gray, 30%),
    1400: shade($gray, 40%),
    1500: shade($gray, 50%),
    1600: shade($gray, 60%),
    1700: shade($gray, 70%),
    1800: shade($gray, 80%),
    1900: shade($gray, 90%)
  ),
  $grays
);

// Neutral or base color declaration
// -> Derived from the grays for accessibility.
//
$white: #ffffff;
$black: #000000;
$light: gray(200);
$lighter: gray(100);
$dark: gray(1600);
$darker: gray(1800);

// 🌄 Color themes
$primary-color: $violet-blue !default;
$secondary-color: $jaffa !default;
$tertiary-color: $trinidad !default;
$success-color: $mountain-meadow !default;
$warning-color: $maximum-green-yellow !default;
$danger-color: $medium-vermillion !default;
$info-color: $cello !default;

// Color themes, fully mapped.
$color-themes: () !default;
$color-themes: map-merge(
  (
    primary: $primary-color,
    secondary: $secondary-color,
    success: $success-color,
    warning: $warning-color,
    danger: $danger-color,
    info: $info-color,
    gray: $gray,
    light: $light,
    lighter: $lighter,
    dark: $dark,
    darker: $darker,
    black: $black,
    white: $white
  ),
  $color-themes
);

$color-contrast-threshold: 300;
$color-contrast-dark-text: $darker;
$color-contrast-light-text: $lighter;

$yiq-contrasted-threshold: 200 !default;
$yiq-text-dark: $dark !default;
$yiq-text-light: $lighter !default;
