$list-group-item-spacing-y: spacing(base);
$list-group-item-spacing-x: 0;
$list-group-item-spacing: $list-group-item-spacing-y $list-group-item-spacing-x;
$list-group-item-border-style: solid;
$list-group-item-border-width: 1px;
$list-group-item-border-color: $light;