$spacing-base   : .75rem !default;
$spacings: (
    x-small     : ($spacing-base * .25),
    small       : ($spacing-base * .5),
    base        : $spacing-base,
    large       : ($spacing-base * 2),
    x-large     : ($spacing-base * 4)
) !default;