$spacing: 1rem !default;
$spacings: () !default;
$spacings: map-merge(
  (
    xxsmall: $spacing / 4.5,
    2xsmall: $spacing / 4.5,
    xsmall: $spacing / 3,
    small: $spacing / 1.5,
    base: $spacing,
    large: $spacing * 1.5,
    xlarge: $spacing * 3,
    2xlarge: $spacing * 4.5,
    xxlarge: $spacing * 4.5
  ),
  $spacings
);
