$spacing: 1rem !default;
$spacings: () !default;
$spacings: map-merge(
  (
    "xxsmall":   ($spacing / 2.5),
    "xsmall":    ($spacing / 1.75),
    "small":      ($spacing / 1.25),
    "base":       $spacing,
    "large":      ($spacing * 1.5),
    "xlarge":    ($spacing * 2),
    "xxlarge":   ($spacing * 3)
  ), 
  $spacings
);