//	Spacings
$spacing: 1rem !default;
$spacings: (
    x-small: ($spacing * .5),
    small: ($spacing * .75),
    base: ($spacing * 1),
    large: ($spacing * 1.5),
    x-large: ($spacing * 2)
) !default;

//	Border Radius
$border-radius: 4px !default;
$border-radius-pill: 50px !default;
$border-radius-circle: 100% !default;
$border-radiuses: (
	base: $border-radius,
	large: ($border-radius * 1.5),
	x-large: ($border-radius * 2),
	xx-large: ($border-radius * 3)
) !default;