$spacing: 1rem !default;
$spacings: () !default;
$spacings: map-merge((
    xx-small: ($spacing * .50),
    x-small: ($spacing * .70),
    small: ($spacing * .85),
    base: $spacing,
    large: ($spacing * 1.5),
    x-large: ($spacing * 2),
    xx-large: ($spacing * 3)
), $spacings);

$border-radius: 4px !default;
$border-radiuses: () !default;
$border-radiuses: map-merge((
	base: $border-radius,
	large: ($border-radius * 1.5),
	x-large: ($border-radius * 2),
	xx-large: ($border-radius * 3)
), $border-radiuses);

$border-radius-pill: 50px;
$border-radius-circle: 100%;